
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
}.landing-page-design-S2p {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.landing-page-design-S2p .auto-group-jnuu-4pt {
  box-sizing: border-box;
  padding: 5rem 14rem 12rem 14rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-7gvz-K8Y {
  margin-bottom: 12rem;
  width: 100%;
  height: 60rem;
  background-size: 100% 164.194%;
  background-position: 0 -15.0131rem;
  background-image: url('../assets/rectangle-14-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-7gvz-K8Y .group-68-3aL {
  box-sizing: border-box;
  padding: 17.7rem 38.5rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 1.6rem;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-7gvz-K8Y .group-68-3aL .group-99-Aur {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-7gvz-K8Y .group-68-3aL .group-99-Aur .happy-new-year-igU {
  margin: 0rem 0.1rem 1.5rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-7gvz-K8Y .group-68-3aL .group-99-Aur .new-year-party-celebration-hB2 {
  max-width: 55rem;
  text-align: center;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.3194444444;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-7gvz-K8Y .auto-group-7gvz-K8Y-bg {
  width: 132rem;
  height: 60rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa {
  margin: 0rem 25.81rem 12rem 25.9rem;
  width: calc(100% - 51.71rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa .off-koW {
  margin: 0rem 0.19rem 4.8rem 0rem;
  text-align: center;
  font-size: 8.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa .group-45-GG4 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa .group-45-GG4 .group-10-1jS {
  margin: 0rem 19.69rem 4.7rem 19.6rem;
  width: calc(100% - 39.29rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa .group-45-GG4 .group-10-1jS .our-holiday-deals-are-better-8p4 {
  margin: 0rem 0rem 1.5rem 0.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa .group-45-GG4 .group-10-1jS .all-categories-dF2 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-50-eVa .group-45-GG4 .vector-Yct {
  width: 80.29rem;
  height: 50rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-98-5si {
  margin-bottom: 12rem;
  box-sizing: border-box;
  padding: 6.811rem 13.8rem 6.723rem 12.6rem;
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-4q2.png');
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-98-5si .auto-group-lswg-zDz {
  margin: 5.789rem 4.817rem 7.377rem 0rem;
  width: 68.8rem;
  height: calc(100% - 13.1662rem);
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-98-5si .auto-group-lswg-zDz .welcome-to-midnight-party-hPJ {
  margin-bottom: 2.4rem;
  max-width: 59.1rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.375;
  letter-spacing: 0.704rem;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-98-5si .auto-group-lswg-zDz .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-Cax {
  margin-bottom: 4.8rem;
  max-width: 68.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-98-5si .auto-group-lswg-zDz .join-now-FJL {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-98-5si .group-70-Z48 {
  width: 31.983rem;
  height: 46.4662rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL {
  margin-bottom: 12rem;
  box-sizing: border-box;
  padding: 10rem 38.6rem 11rem 38.5rem;
  width: 100%;
  height: 48.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-Unp.png');
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc {
  box-sizing: border-box;
  padding: 0 0.15rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 {
  margin-bottom: 4.8rem;
  max-width: 54.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36-sub-0 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36-sub-1 {
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36-sub-2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36-sub-3 {
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36-sub-4 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36 .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-v36-sub-5 {
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-93-qnL .group-92-Apc .frame-1-nmS {
  margin: 0 18.95rem;
  width: calc(100% - 37.9rem);
  height: 5.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk {
  margin-bottom: 11.8rem;
  width: 100%;
  height: 46.5rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr {
  width: 132rem;
  height: 46.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-46-U1z {
  margin: 10.4rem 7.3rem 10.4rem 0rem;
  height: calc(100% - 20.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-46-U1z .group-17-o4G {
  margin-bottom: 2.1rem;
  width: 32.8rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-46-U1z .group-17-o4G .new-best-offer-YGk {
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-46-U1z .group-17-o4G .coming-soon-Tec {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: capitalize;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-46-U1z .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-zuS {
  max-width: 39rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-20-rwe {
  margin-right: 11.8rem;
  width: 46.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-20-rwe .ellipse-1-1Ze {
  width: 36.4844rem;
  height: 36.4844rem;
  position: absolute;
  left: 4.9078rem;
  top: 4.9078rem;
  background-size: 150.038% 100%;
  background-position: -9.1279rem 0;
  background-image: url('../assets/ellipse-1-bg.png');
  border-radius: 18.2422rem;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-20-rwe .ellipse-1-1Ze .ellipse-1-1Ze-bg {
  width: 36.4844rem;
  height: 36.4844rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-20-rwe .ellipse-2-FD6 {
  width: 46.3rem;
  height: 46.3rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1.5rem #ff0000;
  box-sizing: border-box;
  border-radius: 23.15rem;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-18-Zja {
  margin: 11.2rem 0rem 18.1rem 0rem;
  height: calc(100% - 29.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-18-Zja .item-2024-JBN {
  margin: 0rem 0rem 1.5rem 0.033rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-48-NDr .group-18-Zja .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-zpt {
  max-width: 27.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .auto-group-jauz-Drk .group-96-Hoz {
  width: 14rem;
  height: 14rem;
  position: absolute;
  left: 104.4rem;
  top: 32.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr {
  margin-bottom: 12rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE {
  margin: 0rem 16.75rem 6.4rem 16.75rem;
  width: calc(100% - 33.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE .group-77-HxQ {
  margin: 0rem 15.45rem 2.8rem 15.35rem;
  width: calc(100% - 30.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE .group-77-HxQ .what-is-functional-2QC {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE .group-77-HxQ .holidays-sale-50-xYk {
  text-align: center;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2102272246;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE .group-77-HxQ .holidays-sale-50-xYk .holidays-sale-50-xYk-sub-0 {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ff0000;
  font-family: Merriweather, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE .group-77-HxQ .holidays-sale-50-xYk .holidays-sale-50-xYk-sub-1 {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .group-78-xfE .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-eleifend-nunc-purus-quam-id-fermentum-amet-amet-sit-consectetur-S6Y {
  max-width: 98.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn {
  width: 100%;
  height: 66.207rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-79-24k {
  width: 132rem;
  height: 66.207rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 {
  width: 58.2438rem;
  height: 43.3rem;
  position: absolute;
  left: 73.7562rem;
  top: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .rectangle-1-hgg {
  width: 42.9rem;
  height: 43.3rem;
  position: relative;
  left: 15.3438rem;
  top: 0;
  background-size: 151.553% 100%;
  background-position: -5.998rem 0;
  background-image: url('../assets/rectangle-1.png');
  border-radius: 1.6rem 1.6rem 0 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk {
  width: 30.5735rem;
  height: 30.5754rem;
  position: absolute;
  left: -0.003rem;
  top: 7.6956rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-CJY.png');
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .vector-HPz {
  width: 28.7347rem;
  height: 28.7347rem;
  position: absolute;
  left: 0.9204rem;
  top: 0.9218rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g {
  width: 15.4499rem;
  height: 15.246rem;
  position: absolute;
  left: 6.3468rem;
  top: 5.8711rem;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g .item-5-YKv {
  width: 4.8rem;
  height: 8.9rem;
  position: absolute;
  left: 0;
  top: 6.3334rem;
  font-size: 7.3015rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g .item-0-RuW {
  width: 11.3rem;
  height: 8.9rem;
  position: absolute;
  left: 3.8074rem;
  top: 0;
  font-size: 7.3015rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g .dis-KV6 {
  width: 4.2rem;
  height: 3rem;
  position: absolute;
  left: 4.8063rem;
  top: 12.246rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g .c-E6G {
  width: 1.9rem;
  height: 3rem;
  position: absolute;
  left: 8.1273rem;
  top: 11.2813rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g .oun-wWU {
  width: 5.5rem;
  height: 3rem;
  position: absolute;
  left: 9.4962rem;
  top: 8.3264rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-82-DBr .auto-group-yars-gFn .group-83-mY8 .objects-mAk .group-97-26g .t-FXA {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 14.0499rem;
  top: 7.4231rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Raleway Black, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi {
  margin-bottom: 12rem;
  width: 100%;
  height: 116.3rem;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-jtpg-2gL {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-jtpg-2gL .the-best-gifts-xpt {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff0000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-jtpg-2gL .our-awesome-portfolio-6gC {
  margin-bottom: 2.1rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: capitalize;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-jtpg-2gL .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-2Jx {
  max-width: 87.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-srk6-t6G {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-srk6-t6G .rectangle-3-cnx {
  width: 42.4rem;
  height: 45rem;
  position: relative;
  background-size: 100% 142.115%;
  background-position: 0 -3.5755rem;
  background-image: url('../assets/rectangle-3.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-srk6-t6G .rectangle-4-WdS {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-srk6-t6G .rectangle-5-di4 {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-kkfn-Ahz {
  width: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-kkfn-Ahz .rectangle-6-K56 {
  width: 42.4rem;
  height: 45rem;
  position: relative;
  background-size: 156.077% 100%;
  background-position: -19.5366rem 0;
  background-image: url('../assets/rectangle-6.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-kkfn-Ahz .rectangle-7-RP2 {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-81-LHi .group-80-t4L .auto-group-kkfn-Ahz .rectangle-8-N3N {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL {
  box-sizing: border-box;
  padding: 8rem 22.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.0500000007);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-62-2Np {
  margin-bottom: 4.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-62-2Np .group-61-BWc {
  margin-bottom: 4rem;
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-62-2Np .group-60-Ksi {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-62-2Np .group-60-Ksi .subscribe-newsletter-gyA {
  margin-bottom: 2.1rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: capitalize;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-62-2Np .group-60-Ksi .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-DCQ {
  max-width: 87.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-64-grg {
  margin: 0 11.2rem;
  box-sizing: border-box;
  padding-left: 3rem;
  width: calc(100% - 22.4rem);
  height: 7.2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-64-grg .usergmailcom-oRW {
  margin-right: 26.7rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(7, 2, 17, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .auto-group-jnuu-4pt .group-65-HAL .group-64-grg .group-63-KPr {
  width: 21rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  border-radius: 0 5rem 5rem 0;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 {
  box-sizing: border-box;
  padding: 12rem 14rem 11.9rem 14rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #070211;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 {
  margin: 0rem 13.5rem 5rem 0rem;
  width: calc(100% - 13.5rem);
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .big-building-roosevelt-street-beach-gardens-florida-33410-mfA {
  margin-right: 55.9rem;
  max-width: 37.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe {
  width: 25.1rem;
  height: 100%;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe .group-40-cQt {
  margin-right: 1.6rem;
  width: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe .group-40-cQt .frame-9fi {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe .group-40-cQt .item-00-123-584-124-tNQ {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe .group-41-cJQ {
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe .group-41-cJQ .frame-mh6 {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-43-ro6 .group-42-fVe .group-41-cJQ .wwwwebsitecom-v4C {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .line-1-3Pi {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.150000006);
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .group-39-n6Q {
  margin: 0rem 0rem 4.8rem 0.8rem;
  width: 32.8rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .line-2-JqS {
  margin-bottom: 4.9rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.150000006);
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .auto-group-6jba-TTS {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .auto-group-6jba-TTS .all-rights-reserved-DSc {
  margin-right: 88rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-S2p .group-59-wg8 .auto-group-6jba-TTS .unsubscribe-jvk {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
